h1{
    color: #fbff00;
    font-family: Italic;
    font-style: italic;
}

body{
    font-family: sans-serif;
    background-color: #003d93;
}
a{
        color: #e1ff00;
    }
    a:hover{
        color: #e5ff00f3;
    }
    a:visited{
        color: #f2ff00ab;
    }
